@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{
    display: flexbox;
    background-color: #f1f1f1;
}

header{
    padding-left: 2vh;
    padding-right: 2vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10vh, auto);
}

header .menu{
    margin-left: auto;
    font-size: 1.34rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 4.5vh;
}

header .logo h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

header .logo b{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: rgb(160, 59, 255);
}

header .menu a{
    text-decoration: none;
}

header .menu a:hover{
    opacity: 0.7;
    transition: 0.3s;
}

/*Fin del Header*/

.container-cover{
    width: 100%;
    position: relative;
    margin-top: 80px;
    background-image: url(/img/gabinetes/gabineteIndex.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(18, 103, 231, 0.329);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

/*Seccion del cover finalizada*/

.textos{
    width: 90vh;
    margin: auto;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4vh;
}

.textos .titulo1{
    width: 38vh;
    grid-column: 1/3;
    grid-row: 1;
}

.textos .titulo2{
    width: 38vh;
    grid-column: 3/3;
    grid-row: 1;
}

.proyectos-text{
    font-family: 'Source Sans Pro', sans-serif;
}

.proyectos-text h2{
    padding-left: 32%;
}